.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}

.form {
  width: 400px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
}

.image {
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
}

.header {
  text-align: center;
  font-size: 32px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input {
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;

  &:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
}

.label {
  color: rgb(75, 75, 75);
  font-size: 14px;
}


.button {
  background-color: rgb(25, 25, 175, 0.8);
  color: white;
  border: transparent;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(4px);
  }
}

.error {
  color: rgb(190, 30, 30);
  text-align: center;
  font-size: 13px;
}

.created {
  color: rgb(45, 200, 45);
  text-align: center;
  margin-top: 10px;
}

.ul {
  width: 220px;
  height: auto;
  font-size: 13px;
  right: 10px;
}

.requirements {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 75px;
  margin-left: auto;
  margin-right: 150px;
}

.password, .username {
  display: block;
  background-color: rgb(200, 200, 200, 0.6);
  border: transparent;
  border-radius: 10px;
  margin: 5px;
}